{% extends "base.html.twig" %}
{% block header %}
<div class="row">
<h1>{{ hero-name }}</h1>
</div>
{% endblock header %}
{% block content %}
<div class="part-left">
    <div class="div-img-hero">
    <img src="{{ img-hero }}" alt=""></div>
    <div class="alignment"><h2 class="{{ alignment }}"></h2></div>
</div>
<div class="part-right">
<div class="powerstats">
   <!-- "powerstats": {
        "intelligence": "63",
        "strength": "32",
        "speed": "50",
        "durability": "100",
        "power": "89",
        "combat": "100"-->
      
</div>
<div class="hero-identity"> 
    <!--full-name": "Logan",
    "alter-egos": "No alter egos found.",
    "aliases": Weapon X
place-of-birth": "Alberta, Canada",
        "first-appearance": "Incredible Hulk Vol. 2 #180",
        "publisher
    "work": {
        "occupation": "Adventurer, instructor, former bartender, bouncer, spy, government operative, mercenary, soldier, sailor, miner",
        "base": "Xavier Institute, Salem Center, Westchester County, New York; Avengers Tower, New York City"
      },
      "connections": {
        "group-affiliation": "X-Men, formerly Horsemen of Apocalypse, Fantastic Four, Secret Defenders, Clan Yashida, Department H, Alpha Flight, Department K, Team X, Team_Weapon_X, Devil's Brigade, Canadian Army",
        "relatives": "John Howlett Sr. (father, deceased), Elizabeth Howlett (mother, deceased), John Howlett Jr. (brother, allegedly deceased), Viper (ex-wife), Amiko (foster daughter), Erista (son), X-23 (clone)"
      }--> </div>
<div class="hero-appearance"> 
    <!--"gender": "Male",
    "race": "Mutant",
    "height": [
      "5'3",
      "160 cm"
    ],
    "weight": [
      "300 lb",
      "135 kg"
    ],
    "eye-color": "Blue",
    "hair-color": "Black"-->
  </div>
</div>
{% endblock content %}