{% block header %}
<div class="row">
<img src="../../public/media/superheros-ban.png" alt="ban">
</div>
{% endblock header %}
{% block content %}
<h1>HERO DB</h1>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter a super hero name" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>
</div>
<p>Enter an hero name or ID to consult his/her profil</p>
<div class="girl-power"></div>
<div class="popular-hero"></div>
{% endblock content %}