{% extends "base.html.twig" %}
{% block header %}
<div class="row  center">
  <div class="col-lg-8 col-md-8 col-sm-12 col-12">
    <img src="media/big-logo.png" alt="ban" class="col-12">
  </div>
</div>
{% endblock header %}
{% block content %}
<section class="row">
  <div class="">
    <img src="media/mobile/sh-f-mobile.png" alt="super-woman" class="">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="black-block">
      <div class="input-group mb-3">
        <input type="text" id="heroinput" class="form-control" placeholder="Batman" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
     <!--<p>Enter an hero's name or ID</p>-->
    </div>
  </div>
  <div class="">
    <img src="media/mobile/sh-m-mobile.png" alt="super-man" class="">
  </div>
</section>

<div id="identity-cards">

</div>
{% endblock content %}